<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test-launchpad">
    <classes>
      <class name="com.ApertaWebApp_Automate.TestCases.TC_LoginTest_001"/>
      <!--<class name="com.ApertaWebApp_Automate.TestCases.TC_DCBTest_002"/>-->
    </classes>
  </test>
   
  <test name="Test-DCB">
    <classes>
      <class name="com.ApertaWebApp_Automate.TestCases.TC_DCBTest_002"/>
    </classes>
  </test>
  
</suite> 
